.budgetGroupParent {
    border-style: dashed;
    border-color: black;
    margin-bottom: 20px;
}

.budgetGroupHeader {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
    padding: 10px 30px 30px 30px
}

.budgetGroupItemParent {
    background-color: lightgray;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.budgetGroupName {
    font-size: xx-large;
    font-weight: bold;
}

.budgetGroupItemName {
    width: 250px;
}

.budgetGroupItemPlanned {
    width: 200px;
}

.budgetGroupItemFilter {
    width: 140px;
}

